@import "tailwindcss";
@config "../../tailwind.config.cjs";

@layer base {
  :root {
    --foreground: 222.2 47.4% 11.2%;
  }

  body {
    @apply font-[Geist] bg-cod-gray-950;
  }

  .mono-tag {
    font-family: "Geist Mono", monospace;
  }

  ::selection {
    color: black;
    background-color: #e5fbfe;
    border-radius: 16px;
  }

  .wrapper {
    @apply px-[16px] sm:px-[48px] md:px-[96px] lg:px-[126px] xl:px-[196px] 2xl:px-[256px]
  }
}

@theme {
  --color-cod-gray-50: #f6f6f6;
  --color-cod-gray-100: #e7e7e7;
  --color-cod-gray-200: #d1d1d1;
  --color-cod-gray-300: #b0b0b0;
  --color-cod-gray-400: #888888;
  --color-cod-gray-500: #6d6d6d;
  --color-cod-gray-600: #5d5d5d;
  --color-cod-gray-700: #4f4f4f;
  --color-cod-gray-800: #454545;
  --color-cod-gray-900: #3d3d3d;
  --color-cod-gray-950: #0a0a0a;

  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}