---
import { SectionWrapper } from "#components/wrappers/section-wrapper";
import { ImageWithAnnotation } from "#ui/image-annotation";
import { TargetPageWrapper } from "#components/wrappers/target-page-wrapper";
import Layout from "#layouts/Layout.astro";
import Example from "#assets/images/examples/duolingo-example.png";
---

<Layout title="Лендинг" description="Что такое лендинг? Instant объяснит!">
  <div
    class="flex flex-col w-full h-full items-center min-h-screen pt-36 lg:pt-24"
  >
    <TargetPageWrapper
      client:load
      title="Лендинг"
      description="Это отдельная страница, созданная специально для продвижения или рекламы с целью повышения конверсии."
      anchor="landing-information"
      backgroundColor="bg-blue-800"
    />
    <div id="landing-information" class="flex flex-col wrapper">
      <SectionWrapper
        client:load
        id="landing-pluses"
        title="Преимущества лендинга"
      >
        <ul
          class="flex flex-col gap-2 w-full *:text-md lg:*:text-lg *:text-white"
        >
          <li>
            <p>- быстрый и эффективный сбор заявок</p>
          </li>
          <li>
            <p>- получение контактных данных потенциальных клиентов</p>
          </li>
          <li>
            <p>- улучшение позиций сайта в поисковой выдаче</p>
          </li>
          <li>
            <p>- идеальный формат для запуска нового продукта</p>
          </li>
          <li>
            <p>- упрощение принятия решения клиентом</p>
          </li>
        </ul>
      </SectionWrapper>
      <SectionWrapper
        client:load
        id="landing-how-to-work"
        title="Как работает лендинг?"
      >
        <div
          class="flex flex-col lg:flex-row gap-4 *:text-md lg:*:text-lg *:text-white"
        >
          <div class="flex flex-col gap-y-6">
            <p>
              Всё работает просто: пользователь кликает по ссылке и попадает на
              страницу с конкретным предложением или продуктом.
            </p>
            <p>
              Основная задача такой страницы — направить внимание на чёткий
              призыв к действию, сопровождаемый визуалом и лаконичным текстом.
              Чтобы получить бонус или доступ к информации, пользователь
              оставляет свои контактные данные — и становится лидом.
            </p>
            <div class="flex flex-col gap-y-1">
              <p>Что делает лендинг эффективным:</p>
              <p>- цепляющий заголовок</p>
              <p>- понятное и уместное описание</p>
              <p>- визуалы, которые не проходят мимо</p>
              <p>- чёткие выгоды для клиента</p>
              <p>- форма захвата данных (лид-форма)</p>
            </div>
          </div>
          <ImageWithAnnotation
            propSrc={Example.src}
            propAlt="Duo example"
            annotation="Пример лендинга на базе Duolingo"
          />
        </div>
      </SectionWrapper>
    </div>
  </div>
</Layout>
