---
import { SectionWrapper } from "#components/wrappers/section-wrapper";
import { TargetPageWrapper } from "#components/wrappers/target-page-wrapper";
import Layout from "#layouts/Layout.astro";
---

<Layout
  title="Одностраничный сайт"
  description="Что такое сайт-визитка? Instant объяснит!"
>
  <div class="flex flex-col items-center h-full min-h-screen pt-36 lg:pt-24">
    <TargetPageWrapper
      title="Сайт-визитка"
      description="Эффективный способ рассказать о себе, своих услугах или товарах в лаконичном формате."
      anchor="site-card-information"
      backgroundColor="bg-purple-800"
    />
    <div id="site-card-information" class="flex flex-col wrapper">
      <SectionWrapper
        client:load
        id="site-card-pluses"
        title="Преимущества сайта-визитки"
      >
        <ul class="flex flex-col gap-2 *:text-md lg:*:text-lg *:text-white">
          <li>
            <p>- Статичный, быстрый и лёгкий</p>
          </li>
          <li>
            <p>- Минимальные затраты на запуск и поддержку</p>
          </li>
          <li>
            <p>- Стабильный трафик по геозапросам</p>
          </li>
          <li>
            <p>- Повышает доверие клиентов</p>
          </li>
          <li>
            <p>
              - Удобно распространяется онлайн: по ссылке, в мессенджерах,
              соцсетях или email
            </p>
          </li>
        </ul>
      </SectionWrapper>
      <SectionWrapper
        client:load
        id="site-card-how-to-work"
        title="Кому подойдёт сайт-визитка?"
      >
        <div class="flex flex-row gap-4 *:text-md lg:*:text-lg *:text-white">
          <div class="flex flex-col gap-y-6">
            <div class="flex flex-col gap-y-2">
              <p>
                Сайт-визитка — это отличный формат для начинающих
                предпринимателей, фрилансеров и небольших компаний. Его
                выбирают, когда нужно заявить о себе в интернете без лишних
                затрат.
              </p>
              <p>Такой сайт подойдёт:</p>
              <p>
                - молодым брендам и стартапам, которым нужно присутствие в сети
                и база для масштабирования;
              </p>
              <p>
                - малому и среднему бизнесу с офлайн-услугами — ремонт, клининг,
                юриспруденция, бьюти-сфера, обучение и т.д.;
              </p>
              <p>
                - фрилансерам и онлайн-специалистам (дизайнерам, программистам,
                переводчикам), которым важно продемонстрировать портфолио и
                контакты.
              </p>
            </div>
          </div>
        </div>
      </SectionWrapper>
    </div>
  </div>
</Layout>